<div class="container-fluid heroes">
  <center><h1> Choose Your Hero </h1></center>
  <% heroes_nest.each do |heroes_array| %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <% heroes_array.each do |hero| %>
            <div class="col-md-4 hero"><center>
              <%= link_to image_tag("#{hero}.png", :border=>0), hero_path(:hero => hero), :action => 'show', 
                :controller => 'pages', :class => 'dock-item' %></center>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
